name: go-test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0,12 * * *'  # Run every 12 hours to catch upstream changes

permissions:
  contents: read

jobs:
  test:
    runs-on: utility-xlarge
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/workflows/go-setup
      - uses: ./.github/workflows/kurtosis-install
      - run: go test -v -race -coverprofile=coverage.txt ./...
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
